.tl_header_table {
  width: 100%;
}

.tl_header_table td:nth-child(2n+1) {
  width: 1%;
}

#monitoring-timeline {
  width: 100%;
  position: relative;
  padding: 2px 0;
}

#tl_extension #monitoring-timeline {
  width: calc(100% - 18px - 18px);
  margin-left: 18px;
  margin-right: 18px;
}

/* custom styles for individual status of items */
#monitoring-timeline .vis-item.vis-range {
  border-width: 0;
  border-radius: 0;
}
#monitoring-timeline .vis-item.okay {
  background-color: #32cd32;
}
#monitoring-timeline .vis-item.incomplete {
  background-color: #ffd700;
}
#monitoring-timeline .vis-item.error {
  background-color: #cb032b;
}